<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Redefinição de senha, <%= @user.first_name %></h1>
    <p>
      Você solicitou a redefinição da sua senha na Todo App.
    </p>
    <p>
      Para criar uma nova senha, clique no link abaixo:
    </p>
    <p>
      <%= link_to 'Redefinir minha senha', @reset_url %>
    </p>
    <p>
      Este link expirará em 2 horas.
    </p>
    <p>
      Se você não solicitou a redefinição de senha, por favor ignore este e-mail.
    </p>
  </body>
</html>
