<div class="email-confirmed">
  <h2>E-mail confirmado com sucesso!</h2>
  
  <p>Seu e-mail foi confirmado e sua conta está ativa.</p>
  
  <p>Agora você pode fazer login e começar a usar nossa aplicação.</p>
  
  <div class="actions">
    <%= link_to "Ir para o login", login_path, class: "btn btn-primary" %>
  </div>
</div> 